<div class="row mt-3">
    <div class="col-md-4 offset-4">
 
        <h5>Autenticação de Usuários</h5>
        <p>Entre com suas credenciais para realizar autenticação.</p>
        <hr />
 
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

            <div *ngIf="mensagemSucesso" class = "mb-3 alert alert-success"><strong>{{mensagemSucesso}}</strong></div>
            <div *ngIf="mensagemErro" class = "mb-3 alert alert-danger"><strong>{{mensagemErro}}</strong></div>
 
            <label>Entre com o seu Login:</label>
            <input type="text" class="form-control" placeholder="Digite aqui" formControlName="login"/>
            <div class="text-danger" *ngIf="form.login.touched && form.login.invalid">
                <span *ngIf="form.login.errors.required">
                    Por favor, informe o login do usuário.
                </span>
            </div>
            <br />
 
            <label>Entre com a sua Senha:</label>
            <input type="password" class="form-control" placeholder="Digite aqui" formControlName="senha"/>
            <div class="text-danger" *ngIf="form.senha.touched && form.senha.invalid">
                <span *ngIf="form.senha.errors.required">
                    Por favor, informe a senha do usuário.
                </span>
            </div>
            <br />
 
            <div class="d-grid mb-3">
                <input type="submit" [disabled]="!formLogin.valid" value="Realizar Autenticação" class="btn btn-primary" />
            </div>
 
        </form>
 
    </div>
</div>


