<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Controle de Produtos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf = "!isAuthenticated">
          <a class="nav-link active" aria-current="page" routerLink="">Autenticar Usuário</a>
        </li>
        <li class="nav-item" *ngIf = "!isAuthenticated">
          <a class="nav-link active" aria-current="page" routerLink="account">Criar Conta de Acesso</a>
        </li>
        <li class="nav-item dropdown" *ngIf = "isAuthenticated">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Gerenciar Produtos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="cadastrar-produtos">Cadastrar Produtos</a></li>
            <li><a class="dropdown-item" routerLink="consultar-produtos">Consultar Produtos</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex text-white" *ngIf = "isAuthenticated">
        <div class="mt-1">
        Usuário:&nbsp;<strong>{{userLogin}}</strong>
        &nbsp;&nbsp;&nbsp;
        </div>
        <button class = "btn btn-outline-light btn-sm" (click)="logout()">
          Sair do Sistema
        </button>
      </form>
    </div>
  </div>
</nav>
 
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>